# Example env file

# Server configuration
SERVER_ADDRESS =
BASE_URL =

# Storage
FILE_STORAGE_PATH =

# DB (Postgres)
DATABASE_DSN =

# Goose migrations
GOOSE_DRIVER=
GOOSE_DBSTRING=
GOOSE_MIGRATION_DIR=